@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

.barlow-semi-condensed-thin {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-semi-condensed-extralight {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-semi-condensed-light {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-semi-condensed-regular {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-semi-condensed-medium {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semi-condensed-semibold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-semi-condensed-bold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-semi-condensed-extrabold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-semi-condensed-black {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-semi-condensed-thin-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-semi-condensed-extralight-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-semi-condensed-light-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-semi-condensed-regular-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-semi-condensed-medium-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-semi-condensed-semibold-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-semi-condensed-bold-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-semi-condensed-extrabold-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-semi-condensed-black-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 900;
  font-style: italic;
}
